################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/testingground
/ChatApp/bin/Debug/net8.0
/ChatApp/obj
